.asso__banner {
    height: 300px;
}

.event__img {
    width: 100%;
    height: 20%;
}

.collapsible-body > li {
    list-style-type: square;
}

.collapsible-body > img {
    border-radius: 10px;
}

.collapsible-body > div:first-child {
    margin-bottom: 10px;
}